# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor, .overlayer': [
    {label: 'Enable decoration-example', command: 'decoration-example:toggle'}
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'decoration-example'
      'submenu': [
        { 'label': 'Toggle', 'command': 'decoration-example:toggle' }
      ]
    ]
  }
]
